.header {
	margin-top: 1%;
}
#item,.slider {
	border: solid 1px #ccc;
	height: 500px;
	padding-top: 10px;
}
#div_slide {
	padding-top: 10px;
	border: solid 1px #ccc;
}
strong {
	font-size: 20px;
}
.slider {
	display: block;
}
#bullets {
	display: flex;
  	flex-direction: row;
  	flex-wrap: nowrap;
  	margin-bottom: 20px;
}
.teste{
  	border-radius: 50%;
    height: 12px;
    width: 12px;
    background-color: #999;
    margin-left: 20%;
}
.ativo {
 	border-radius: 50%;
    height: 12px;
    width: 12px;
    background-color: #000;
    margin-left: 20%;
}
.botao {
	width: 100%;
	height: 50px;
	margin-top: 11%;
	margin-bottom: 10px;
	background-color: #fff;
	border: solid 1px #ccc;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
}
.botao:hover {
	cursor: pointer;
	border-left: solid 10px orange;
}
.material-icons {
	
}
@media only screen and (max-width: 540px) {
/*	body {
		background-color: #f99;
	} */
	h4 {
		text-align: center;
	}
	#others {
		margin-top: 115vh;
	}
	
	#item {
		margin-top: -125vh;
		height: 500px;
	}

	.slider {
		display: none;
	}
}